*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(pexels-evie-shaffer-4004374.jpg);
}

.container {
    position: relative;
    top: 100px;
    width: 300px;
    color: white;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #4f06fa;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}